body{
    background-image: url(background11.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center ;
    margin: 0px auto;
    padding: 0px;

}

.container{
    width: 70%;
    height: 80%;
     color: white;
     margin: 0px auto;
     background-image: linear-gradient(rgb(165, 19, 19));
     background-size: cover;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
